## Pattern 1

#### Square Pattern

In [1]:
num = 4
row = 1
while row<=num:
  col = 1
  while col<=num:
    print(num,end='')
    col += 1
  print()
  row += 1

4444
4444
4444
4444

#### Triangular Star Pattern

In [2]:
num = 4
row = 1
while row<=num:
  col = 1
  while col<=row:
    print("*",end='')
    col += 1
  print()
  row += 1

*
**
***
****

#### Triangular number Pattern

In [3]:
num = 4
row = 1
while row<=num:
  col = 1
  while col<=row:
    print(row,end='')
    col += 1
  print()
  row += 1

1
22
333
4444

#### Reverse Number Pattern

In [4]:
num = 4
row = 1
while row<=num:
  col = row
  while col>=1:
    print(col,end='')
    col -= 1
  print()
  row += 1

1
21
321
4321

#### Character Pattern

In [5]:
num = 4
row = 1
while row<=num:
  col = 1
  char = chr(ord('A')+row-1)  
  while col<=row:
    strg = chr(ord(char)+col-1)
    print(strg,end='')
    col += 1
  print()
  row += 1

A
BC
CDE
DEFG

#### Interesting Alphabets

In [12]:
n = 5
i = 1
while i<=n:
    j = 1
    str_chr = chr(ord("A")+n-i)
    while j <= i:
        charP = chr(ord(str_chr)+j-1)
        print(charP,end='')
        j += 1
    print()
    i += 1

E
DE
CDE
BCDE
ABCDE

#### Number Pattern 1

In [13]:
n = int(input())
i = 1
while i<= n:
    j = 1
    while j<=i:
        print("1",end="")
        j += 1
    print()
    i += 1

5
1
11
111
1111
11111

#### Number Patter 2

In [20]:
n = int(input())
i = 1
while i<=n:
	j = 1
	while j <=i:
		if i == 1:
			print(i, end='')
		elif i == 2:
			print(1,end="")
		elif j == i or j == 1:
			print(i-1,end='')
		else:
			print(0,end='')
		j += 1
	print()
	i += 1

4
1
11
202
3003

#### Number Patter 3

In [21]:
num = int(input())
row = 1
while row<=num:
  col = 1
  while col<=row:
    if row == 1:
      print(1,end='')
    elif row == 2:
      print(1,end= '')
    elif col == 1 or col == row:
      print(1,end='')
    else:
      print(2,end='')
    col +=1
  print()
  row+=1

4
1
11
121
1221

#### Number Patter 4

In [22]:
num = int(input())
row = 1
while num>=row:
  col = 1
  while col<=num:
    print(col,end='')
    col+=1
  print()
  num-=1

5
12345
1234
123
12
1

#### Alpha Pattern

In [23]:
num = int(input())
row = 1
while row<=num:
  col = 1
  char = chr(ord('A')+row-1)
  while col<=row:
    print(char,end='')
    col+=1
  print()  
  row+=1

5
A
BB
CCC
DDDD
EEEEE