## Pattern 2

#### Inverted Number Pattern

In [3]:
num = int(input())
i = 1
while num>=i:
    j = 1
    while j<=num:
        print(num,end ="")
        j += 1
    print()
    num -=1

4
4444
333
22
1

#### Mirror Number Pattern

In [4]:
num = int(input())
i = 1
while i<=num:
    s = 1
    while s<=num-i:
        print(" ",end='')
        s += 1
    j = 1
    while j<=i:
        print(j,end="")
        j +=1
    print()
    i += 1

5
    1
   12
  123
 1234
12345

#### Star Pattern

In [6]:
num = int(input())
row = 1
while row<=num:
  space = 1
  while space<=num-row:
    print(' ',end='')
    space+=1
  lf_col = 1
  while lf_col<=row:
    print("*",end='')
    lf_col+=1
  rt_col = row-1
  while rt_col>=1:
    print("*",end='')
    rt_col -= 1
  print()  
  row+=1

5
    *
   ***
  *****
 *******
*********

#### Triangle of Numbers

In [8]:
num = int(input())
row = 1
while row<=num:
  space = 1
  while space<=num-row:
    print(" ",end='')
    space+=1
  rt_col = 1
  p = row
  while rt_col<=row:
    print(p,end='')
    p+=1
    rt_col+=1
  lf_col = 1
  p = row*2-2
  while lf_col<=row-1:
    print(p,end='')
    p-=1
    lf_col+=1
  print()
  row +=1

5
    1
   232
  34543
 4567654
567898765

#### Diamond of stars

In [11]:
num = int(input())
f_half = (num+1)//2
s_half = num//2
for row in range(f_half):
    print(' '*(num-row),end='')
    for star in range(2*row-1):
        print("*",end='')
    print()
row = s_half-1
while row>0:
    print(" "*(num-row),end='')
    for star in range(2*row-1):
        print("*",end='')
    print()
    row-=1

10

         *
        ***
       *****
      *******
      *******
       *****
        ***
         *

## Assignment 3

#### Number Patter

In [14]:
num = int(input())
row = 1
while row<=num:
    left_colm = 1
    while left_colm<=row:
        print(left_colm,end='')
        left_colm += 1
    space1 = 1
    while space1<=num-row:
        print(' ',end='')
        space1 += 1
    space2 = 1
    while space2<=num-row:
        print(' ',end='')
        space2 += 1
    right_colm = row
    while right_colm>=1:
        print(right_colm,end='')
        right_colm -=1   
    print()
    row += 1

5
1        1
12      21
123    321
1234  4321
1234554321

#### Zero and stars

In [16]:
n=int(input())  
i=1  
j=1  
while i<=n:  
    j=1  
    while j<=n:     
        if i==j:  
            print("*", end='')  
        else :  
            print("0", end='')  
        j=j+1  
    j=j-1;  
    print("*", end='')  
    while j>=1:  
        if i==j:  
            print("*", end='')  
        else :  
            print("0", end='')  
        j=j-1  
    print("");  
    i=i+1

6
*00000*00000*
0*0000*0000*0
00*000*000*00
000*00*00*000
0000*0*0*0000
00000***00000

#### Pyramid Number Pattern

In [21]:
num = int(input())
row = 1
while row<=num:
    space = 1
    while space<=num-row:
        print(" ",end='')
        space += 1 

    left_col = row
    while left_col>=1:
        print(left_col,end="")
        left_col -= 1
    right_col=1
    while right_col<= row-1:
        print(right_col+1,end = "")
        right_col=right_col+1
    print()
    row = row + 1

5
    1
   212
  32123
 4321234
543212345

#### Arrow Pattern

In [24]:
num = int(input())
row = 1
first_half = (num+1)//2
sec_half = num//2
while row<=first_half:
    space = 1
    while space<=row - 1:
        print(" ",end='')
        space += 1
    up_star = 1
    while up_star<=row:
        print('*',end=" ")
        up_star += 1
    print()
    row += 1
row = sec_half
while row>=1:
    space = 1
    while space<=row - 1:
        print(" ",end='')
        space += 1
    down_star = 1
    while down_star<=row:
        print("*",end=' ')
        down_star += 1
    print()
    row -= 1

9
*
 * *
  * * *
   * * * *
    * * * * *
   * * * *
  * * *
 * *
*

## More on Loops(For)

#### Binary Pattern

In [27]:
n = int(input())
for i in range(1,n+1):
    for j in range(n+1,1,-1):
        if i %2 == 0:
            print(0,end='')
        else:
            print(1,end='')
    print()
    n -= 1

5
11111
0000
111
00
1

#### Print Number Pyramid

In [29]:
n = int(input())

for i in range(1,n+1):
    for s in range(i-1):
        print(' ',end='')
    for j in range(n-i+1):
        print(j+i,end='')
    print()

for i in range(n,1,-1):
    for s in range(i-2):
        print(' ',end='')
    j = n
    k = 1
    
    while j >=i-1:
        print(i+k-2,end="")
        j=j-1
        k=k+1
    i=i-1
    print()

7
1234567
 234567
  34567
   4567
    567
     67
      7
     67
    567
   4567
  34567
 234567
1234567

#### Diamond of stars

In [32]:
num = int(input())
first = (num+1)//2
sec = first-1
for i in range(1,first+1):
    for s in range(first-i):
        print(' ',end='')
    for j in range(2*i-1):
        print("*",end='')
    print()
i = sec
for i in range(sec,0,-1):
    s= 1
    while s<= sec-i+1:
        print(' ',end='')
        s +=1
    for j in range(2*i-1):
        print("*",end='')
    print()

9
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

#### Rectangualr Numbers

In [37]:
n=5
answer=[[1]]
for i in range(2, n+1):
    t=[i]*((2*i)-3)
    answer.insert(0, t)
    answer.append(t.copy())
    for a in answer:
        a.insert(0,i)
        a.append(i)
answerfinal=[]
for a in answer:
    answerfinal.append(str(a).replace(' ','').replace(',','').replace(']','').replace('[',''))
for a in answerfinal:
    print(a)

555555555
544444445
543333345
543222345
543212345
543222345
543333345
544444445
555555555

#### Print Pattern

In [39]:
import math
n = int(input())

for i in range(math.ceil(n/2)):

    for j in range(1, n+1):

        print((n*2*i)+j, end=" ")

    print()

for i in range(n//2, 0, -1):

    for j in range(1, n+1):

        print(n*(2*i-1) + j, end=" ")

    print()

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10