# Milestone 2

In [1]:
n = 4
for i in range(1,n+1):
    for j in range(1,n+1):
        print(n,end='')
    print()

4444
4444
4444
4444

In [2]:
n = 4
for i in range(1,n+1):
    for j in range(1,n+1):
        print("#",end='')
    print()

####
####
####
####

In [3]:
n = 4
for i in range(1,n+1):
    for s in range(n-i):
        print(" ",end='')
    for j in range(i):
        print("*",end='')
    print()

   *
  **
 ***
****

In [4]:
n = 4
for i in range(1,n+1):

    for j in range(n):
        print(n-j,end='')
        
    print()

4321
4321
4321
4321

In [5]:
n = 4
for i in range(1,n+1):

    for j in range(n):
        print(n-i+1,end='')
        
    print()

4444
3333
2222
1111

In [1]:
n = int(input())
for i in range(1,n+1):
    for s in range(n-i):
        print(" ",end='')
    for j in range(1,i+1):
        print(i,end='')
    for j in range(i,1,-1):
        print(i,end='')
    print()
for i in range(n-1,0,-1):
    for s in range(n-i):
        print(' ',end='')
    for j in range(i,1,-1):
        print(i,end='')       
    for j in range(i):
        print(i,end='')
    print()

3
  1
 222
33333
 222
  1

In [1]:
n = int(input())
for i in range(0,n):
    for s in range(n-i):
        print(' ',end='')
    for j in range(n,n-i,-1):
        print(j,end='')
    for j in range(n-i+2,n+1):
        print(j,end='')
    print()
for i in range(1,n):
    for s in range(i):
        print(' ',end='')
    for j in range(n,i,-1):
        print(j,end='')
    for j in range(i+2,n+1):
        print(j,end='')
    print()

5

    5
   545
  54345
 5432345
 5432345
  54345
   545
    5

In [1]:
n = 5
fr = (n+1)//2
sn = n//2
for i in range(1,fr+1):
    print(' '*(fr-i),end='')
    for j in range(2*i-1):
        print("*",end='')
    print()
for i in range(sn,0,-1):
    print(' '*(sn-i+1),end='')
    for j in range(2*i-1):
        print('*',end='')
    print()

  *
 ***
*****
 ***
  *

In [13]:
a = int(input())
b = int(input())
if a%3==0:
    s = a
elif a%3 ==1:
    s = a+2
elif a == 0:
    s = a+3
else:
    s = a+1
for i in range(s,b+1,3):
    print(i)

0
30
0
3
6
9
12
15
18
21
24
27
30

In [17]:
n = int(input())
flag = False
for d in range(2,n,1):
    if n%d==0:
        flag = True
        break
if flag:
    print("not prime")
else:
    print("Prime")

23
Prime

In [5]:
num = 5
for row in range(0, num+1,1):
    for space in range(num-row):
        print(' ',end='')
    for rt_col in range(row,2*row,1):
        print(rt_col,end='')
    for lf_col in range(2*row-2,row-1,-1):
        print(lf_col,end='')
    print()

    1
   232
  34543
 4567654
567898765

In [8]:
n = 4
for i in range(1,n+1):
#     for s in range(n-i):
#         print(' ',end='')
    for j in range(i+1,1,-1):
        print(j-1,end='')
    print()

1
21
321
4321

In [19]:
for var in range(10,0,-1):
   if var == 5:
      continue
   print('Current variable value :', var)
print("Good bye!")

Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Good bye!

### Assignment 1

#### Binary Number

In [4]:
n = int(input())
for i in range(1,n+1):
    for j in range(n+1,1,-1):
        if i %2 == 0:
            print(0,end='')
        else:
            print(1,end='')
    print()
    n -= 1

5
11111
0000
111
00
1

#### Print Number Pyramid

In [5]:
n = int(input())

for i in range(1,n+1):
    for s in range(i-1):
        print(' ',end='')
    for j in range(n-i+1):
        print(j+i,end='')
    print()

for i in range(n,1,-1):
    for s in range(i-2):
        print(' ',end='')
    j = n
    k = 1
    while j >=i-1:
        print(i+k-2,end="")
        j=j-1
        k=k+1
    i=i-1
    print()

5
12345
 2345
  345
   45
    5
   45
  345
 2345
12345

#### Diamond Star

In [6]:
num = 7
first = (num+1)//2
sec = first-1
for i in range(1,first+1):
    for s in range(first-i):
        print(' ',end='')
    for j in range(2*i-1):
        print("*",end='')
    print()
i = sec
for i in range(sec,0,-1):
    s= 1
    while s<= sec-i+1:
        print(' ',end='')
        s +=1
    for j in range(2*i-1):
        print("*",end='')
    print()

   *
  ***
 *****
*******
 *****
  ***
   *

In [2]:
a=int(input())
for i in range(2*a-1):
    for j in range(2*a-1):
        print(max(abs(a-1-i),abs(a-1-j))+1,end="")
    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [3]:
n = 4

for i in range(n//2):

    for j in range(1, n+1):

        print(n*2*i+j, end=" ")

    print()

for i in range(n//2, 0, -1):

    for j in range(1, n+1):

        print(n*(2*i-1) + j, end=" ")

    print()

1 2 3 4
9 10 11 12
13 14 15 16
5 6 7 8

#### Box Pattern

In [2]:
row = int(input())
col = int(input())
for i in range(row):
    for j in range(col):
        if i == 0 or i == row - 1 or j == 0 or j == col-1:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

8
20
* * * * * * * * * * * * * * * * * * * *
*                                     *
*                                     *
*                                     *
*                                     *
*                                     *
*                                     *
* * * * * * * * * * * * * * * * * * * *