## Module 1

### Assignment 1

#### Average

In [3]:
sub1 = int(input())
sub2 = int(input())
sub3 = int(input())
avg = (sub1+sub2+sub3)/3
print(avg)

89
99
19
69.0

#### X raise to power N

In [4]:
x = int(input())
n = int(input())
print(x**n)

5
4
625

#### Arithmetic Progression

In [5]:
a = int(input())
b = int(input())
c = int(input())
diff = (c-b) and (b-a)
print(diff)

4
3
2
-1

#### Rectangular Area

In [6]:
x1 = int(input())
x2 = int(input())
y1 = int(input())
y2 = int(input())
area = (y1-x1)*(y2-x2)
print(area)

1
3
1
3
0

### Assignment 2

#### Check Number

In [7]:
n = int(input())
if n>0:
    print("Positive")
elif n == 0:
    print("Zero")
else:
    print("Negative")

5
Positive

#### Sum of n numbers

In [4]:
n = 10
i = 0
sum = 0
while n>=i:
  sum += i
  i += 1
  print(f"{sum}+{i}=",sum)

0+1= 0
1+2= 1
3+3= 3
6+4= 6
10+5= 10
15+6= 15
21+7= 21
28+8= 28
36+9= 36
45+10= 45
55+11= 55

#### Sum of even Number

In [5]:
n = int(input())
i = 1
r = 0
while i<=n:
    if i%2 == 0:
        r = i+r
    i += 1
print(r)

5
6

#### Fahrenheit to Celsius

In [5]:
start = 0
end = 100
inter = 20
while start<=end:
  tem = start
  cel = (tem-32)*5/9
  print(start,int(cel))
  start += inter

0 -17
20 -6
40 4
60 15
80 26
100 37

#### Calculator

In [ ]:
while True:
    a = int(input())
    if a ==1:  #==6 break   
        num1 = int(input())
        num2 = int(input())
        sum = num1+num2
        print(sum)        
    elif a ==2:
            num1 = int(input())
            num2 = int(input())
            sum = num1-num2
            print(sum)
    elif a ==3:
            num1 = int(input())
            num2 = int(input())
            sum = num1*num2
            print(sum)           
    elif a ==4:
            num1 = int(input())
            num2 = int(input())
            sum = int(num1/num2)
            print(sum)
    elif a ==5:
            num1 = int(input())
            num2 = int(input())
            sum = num1%num2
            print(sum)
    elif a == 6:
            break
    else:
        print("Invalid Operation")

#### Reverse Number

In [11]:
num = int(input())  
rev = 0
while num != 0: 
    rem = num%10 
    rev = (rev * 10)+rem 
    num = num//10 
    print(rev)
print(rev)

123
3
32
321
321

#### Palindrome

In [ ]:
def palindrome(num):
	num1 = num
	rev = 0
	while num>0:
		rem = num%10
		rev = rev*10+rem
		num = num//10
	return rev == num1
	

num = int(input("CheckNo."))
ispalindrome = palindrome(num)
if ispalindrome:
	print("True")
else:
	print("False")

#### Sum of odd and evens

In [1]:
num = 552245
even = 0
odd = 0
while num>0:
  last = num%10
  num = num//10
  if last%2 == 0:
    even += last
  else:
    odd += last

print(even,odd)

8 15

#### Fibonacci Series

In [16]:
n = int(input())
i = 0
j = 1
k = 0
fib = 0
while i<n:
    fib = j+k
    j = k
    k = fib
    i += 1
    print(fib)

10
1
1
2
3
5
8
13
21
34
55

### Practice 1

### Square's Pattern

#### Box Pattern1

In [2]:
num = 4
row = 1
while row<=num:
  col = 1
  while col<=num:
    print(num,end='')
    col += 1
  print()
  row += 1

4444
4444
4444
4444

#### Box  Pattern 2

In [18]:
num = int(input())
i = 1
while i <= num:
    j = 1
    while j <= num:
            print('#',end='')
            j += 1
    print()
    i += 1

4
####
####
####
####

#### Box Pattern 3

In [29]:
num = int(input())
i = 1
while i <=num:
    j = 1
    while j <= num:
        print(i,end='')
        j += 1
    print()
    i += 1

4
1111
2222
3333
4444

#### Box Pattern 4

In [47]:
num = int(input())
i = 1
while i <=num:
    j = 1
    while j <= num:
        print(j,end='')
        j += 1
    print()
    i += 1

4
1234
1234
1234
1234

#### Box Pattern 5

In [45]:
num = int(input())
i = 1
while i <=num:
    j = 1
    while j <= num:
        print(num-i+1,end='')
        j += 1
    print()
    i += 1

4
4444
3333
2222
1111

#### Box Pattern 6

In [46]:
num = int(input())
i = 1
while i <=num:
    j = 1
    while j <= num:
        print(num-j+1,end='')
        j += 1
    print()
    i += 1

4
4321
4321
4321
4321

#### Triangles Pattern

#### Tri Pattern 1

In [5]:
num = int(input())
i = 1
while i <=num:            
    j = 1                                
    while j <= i:       
        print(j,end='')   
        j += 1                      
    print()               
    i += 1

5
1
12
123
1234
12345

#### Tri Pattern 2

In [4]:
num = int(input())
i = 1
while i <=num:            
    j = 1                 
    while j <= i:       
        print(i,end='')   
        j += 1                      
    print()               
    i += 1

5
1
22
333
4444
55555

####  Tri Pattern 3

In [16]:
num = int(input())
i = 1
while i <=num:            
    j = 1                 
    p = i                 
    while j <= i:       
        print(p,end='')   
        p += 1
        j += 1 
    print()               
    i += 1

5
1
23
345
4567
56789

#### Tri Pattern 4

In [7]:
n = int(input())
i = 1
while i<=n:
    j = i
    while j>=1:
        print(j,end='')
        j -= 1
    print()
    i += 1

4
1
21
321
4321

#### Alphabet Pattern

#### Pattern 1

In [17]:
num = int(input())
i = 1
while i <=num:
    j = 1
    
    while j <= num:
        abc = chr(ord('A')+j-1)
        print(abc,end='')
        j += 1
    print()
    i += 1

4
ABCD
ABCD
ABCD
ABCD

#### Pattern 2

In [24]:
num = int(input())
i = 1
while i <=num:
    j = 1
    
    while j <= num:
        charP = chr(ord('A')+i-1)
        print(charP,end='')
        j += 1
    print()
    i += 1

5
AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

#### Pattern 3

In [10]:
num = int(input())
i = 1
p = 1
while i <=num:
    j = 1
    while j <= num:
        charP = chr(ord('A')+p-1)
        print(charP,end='')
        p += 1
        j += 1
    print()
    i += 1

5
ABCDE
FGHIJ
KLMNO
PQRST
UVWXY

#### Pattern 4

In [5]:
num = int(input())
i = 1
while i <=num:
    j = 1
    str_chr = chr(ord('A')+i-1)
    while j <= num:
        charP = chr(ord(str_chr)+j-1)
        print(charP,end='')
        j += 1
    print()
    i += 1

4
ABCD
BCDE
CDEF
DEFG

#### Pattern 5

In [1]:
num = int(input())
i = 1
while num >=i:
    j = 1
    # str_chr = chr(ord('A')+i-1)
    while j <= num:
        charP = chr(ord('A')+j-1)
        print(charP,end='')
        j += 1
    print()
    num -= 1

4
ABCD
ABC
AB
A

#### Pattern 6

In [19]:
n = 5
for i in range(0,n):
    str_char = chr(ord('A')+n-1)
    for j in range(i,n):
        charp = chr(ord(str_char)-j)
        print(charp, end="")
    print()

EDCBA
DCBA
CBA
BA
A

#### Pattern 7

In [5]:
num = int(input())
i = 1
while i <=num:            
    j = 1
    setchar = chr(ord('A')+i)
    while j <= i: 
        charp = chr(ord('A')+j-1)
        print(charp,end='')   
        j += 1                      
    print()               
    i += 1

5
A
AB
ABC
ABCD
ABCDE

#### Pattern 8

In [3]:
n = 5
i = 1
while i<=n:
  char = chr(ord('A')+n-i)
  j = 1
  while j<=i:
    strg = chr(ord(char)+j-1)
    print(strg,end='')
    j += 1
  print()
  i += 1

E
DE
CDE
BCDE
ABCDE

### Practice 2

#### Number Pattern 1

In [7]:
n = int(input())
i = 1
while i<= n:
    j = 1
    while j<=i:
        print("1",end="")
        j += 1
    print()
    i += 1

4
1
11
111
1111

#### Pattern 2

In [18]:
n = int(input())
i = 1
while i<=n:
	j = 1
	while j <=i:
		if i == 1:
			print(i, end='')
		elif i == 2:
			print(1,end="")
		elif j == i or j == 1:
			print(i-1,end='')
		else:
			print(0,end='')
		j += 1
	print()
	i += 1

4
1
11
202
3003

#### Pattern 3

In [1]:
n = int(input())
i = 1
while i<=n:
	j = 1
	while j <=i:
		if i == 1:
			print(1, end='')
		elif j == i or j == 1:
			print(1,end='')
		else:
			print(2,end='')
		j += 1
	print()
	i += 1 
	# n -= 1

5
1
11
121
1221
12221

#### Number Pattern 4

In [4]:
num = int(input())
row = 1
while num>=row:
  col = 1
  while col<=num:
    print(col,end='')
    col+=1
  print()
  num-=1

4
1234
123
12
1

#### Alpha Pattern

In [12]:
num = int(input())
i = 1
while i <=num:            
    j = 1 
    while j <= i: 
        charp = chr(ord('A')+i-1)
        print(charp,end='')   
        j += 1                      
    print()               
    i += 1

4
A
BB
CCC
DDDD

#### Interesting Alphabets

In [3]:
num = int(input())
i = 1
while i <=num:
    j = 1
    str_chr = chr(ord('A')+num-i)
    while j <= i:
        charP = chr(ord(str_chr)+j-1)
        print(charP,end='')
        j += 1
    print()
    i += 1

5
E
DE
CDE
BCDE
ABCDE

#### Inverted Patterns

In [1]:
num = int(input())
i = 1
while num>=i:
    j = 1
    while j<=num:
        print(num,end ="")
        j += 1
    print()
    num -=1

5
55555
4444
333
22
1

#### Mirror Sequence

In [2]:
num = int(input())
i = 1
while i<=num:
    s = 1
    while s<=num-i:
        print(" ",end='')
        s += 1
    j = 1
    while j<=i:
        print(j,end="")
        j +=1
    print()
    i += 1

5
    1
   12
  123
 1234
12345

#### Reversed Mirror Squence

In [2]:
n = 5
i = 1
while i<=n:
    space = 1
    while space<=n-i:
        print(' ',end='')
        space += 1
    j = i
    while j>=1:
        print(j,end='')
        j -=1
   
    
    print()
    i += 1

    1
   21
  321
 4321
54321

#### Isosceles Pattern

In [ ]:
num = 4
row = 1
while row<=num:
  space = 1
  while space<=num-row:
    print(' ',end='')
    space+=1
  lf_col = 1
  while lf_col<=row:
    print(lf_col,end='')
    lf_col+=1
  rt_col = row-1
  while rt_col>=1:
    print(rt_col,end='')
    rt_col -= 1
  print()  
  row+=1

#### Tree pattern

In [3]:
num = int(input())
i = 1
while i<=num:
    s = 1
    while s<=num-i:
        print(" ",end='')
        s += 1
    j = 1
    while j<=i:
        print("*",end="")
        j +=1/2
    print()
    i += 1

5
    *
   ***
  *****
 *******
*********

#### Triangle of Number

In [1]:
num = int(input())
row = 1
while row<=num:
  space = 1
  while space<=num-row:
    print(" ",end='')
    space+=1
  rt_col = 1
  p = row
  while rt_col<=row:
    print(p,end='')
    p+=1
    rt_col+=1
  lf_col = 1
  p = row*2-2
  while lf_col<=row-1:
    print(p,end='')
    p-=1
    lf_col+=1
  print()
  row +=1

5
    1
   232
  34543
 4567654
567898765

#### Triangle of Number 2

In [2]:
n = 5
i = 1
while i<=n:
    space = 1
    while space<=n-i:
        print(' ',end='')
        space += 1
    j = 1
    while j<=i-1:
        print(j,end='')
        j += 1
    k = i
    while k>=1:
        print(k,end='')
        k -=1
   
    
    print()
    i += 1

    1
   121
  12321
 1234321
123454321

#### Diamond

In [2]:
n = 5
f_half = (n+1)//2 
s_half = n//2
i_row = 1
while i_row<=f_half:
    space = 1
    while space<=f_half-i_row: 
        print(' ',end='')
        space += 1
    star = 1
    while star<=2*i_row-1:
        print('*',end='')
        star += 1
    print()
    i_row += 1
i_row = s_half 
while i_row>=1:
    space = 1
    while space<=s_half-i_row+1: 
        print(' ',end='')
        space += 1
    star = 1
    while star<=2*i_row-1:
        print('*',end='')
        star += 1
    print()
    i_row -= 1

  *
 ***
*****
 ***
  *

### Assignment 3

#### Number Pattern

In [3]:
num = int(input())
row = 1
while row<=num:
    left_colm = 1
    while left_colm<=row:
        print(left_colm,end='')
        left_colm += 1
    space1 = 1
    while space1<=num-row:
        print(' ',end='')
        space1 += 1
    space2 = 1
    while space2<=num-row:
        print(' ',end='')
        space2 += 1
    right_colm = row
    while right_colm>=1:
        print(right_colm,end='')
        right_colm -=1   
    print()
    row += 1

5
1        1
12      21
123    321
1234  4321
1234554321

#### Zeros and Stars

In [3]:
n=4
i=1  
j=1  
while i<=n: 
    j=1  
    while j<=n:      
        if i==j:  
            print("*", end='')  
        else :  
            print("0", end='')  
        j=j+1  
    j=j-1;  
    print("*", end='')  
    while j>=1:  
        if i==j:  
            print("*", end='')  
        else :  
            print("0", end='')  
        j=j-1  
    print("");  
    i=i+1

*000*000*
0*00*00*0
00*0*0*00
000***000

#### Pyramid Number pattern

In [2]:
num = 4
row = 1
while row<=num:
    space = 1
    while space<=num-row:
        print(" ",end='')
        space += 1 

    left_col = row
    while left_col>=1:
        print(left_col,end="")
        left_col -= 1
    right_col=1
    while right_col<= row-1:
        print(right_col+1,end = "")
        right_col=right_col+1
    print()
    row = row + 1

   1
  212
 32123
4321234

#### Arrow Pattern

In [6]:
num =9
row = 1
first_half = (num+1)//2
sec_half = num//2
while row<=first_half:
    space = 2
    while space<=row:
        print(" ",end='')
        space += 1
    up_star = 1
    while up_star<=row:
        print('*',end="")
        up_star += 1
    print()
    row += 1
row = sec_half
while row>=1:
    space = 2
    while space<=row:
        print(" ",end='')
        space += 1
    down_star = 1
    while down_star<=row:
        print("*",end='')
        down_star += 1
    print()
    row -= 1

*
 **
  ***
   ****
    *****
   ****
  ***
 **
*

In [2]:
num = 6
row = 1
p = 0
while num>=row:
    left_col = 1
    while left_col<=num:
            print(left_col,end='')
            left_col += 1
    space = 1
    while space<=p:
        print('*',end='')
        space += 1  
    p+=2 
    right_col = num
    while right_col>=1:
        print(right_col,end='')
        right_col -=1   
    print()
    num -= 1

123456654321
12345**54321
1234****4321
123******321
12********21
1**********1